.bg-dark { background-color: #0d1117; }
.titulo h1 { font-size: 4rem; font-weight: 800; }
.titulo h2 { font-size: 2.5rem; font-weight: 500; }

.ocorrencias h2 { margin-bottom: 30px; font-size: 3rem; font-weight: 700; }
.ocorrencias h3 { margin-bottom: 5px; font-size: 2rem; font-weight: 400; text-transform: uppercase; }
.ocorrencias strong { margin-bottom: 7px } 
.ocorrencias textarea { margin-bottom: 5px; padding: 15px; }
.ocorrencias button { margin-bottom: 50px; }

